* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(217, 205, 220);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

input {
    width: 80%;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.transformed-output {
    width: 80%;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: rgb(28, 149, 236);
    position: relative;
    color: rgb(80, 5, 79);
}

.transformed-output label {
    font-size: 0.75rem;
    background-color: black;
    color: white;
    top: -0.75rem;
    padding: 0.25rem;
    left: 1rem;
    position: absolute;
}